#menu-toggle
{
    display: none;
}
.hamburger
{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
}
.hamburger span
{
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
}
.hamburger span:nth-child(1)
{
    top: 0;
    
}
.hamburger span:nth-child(2)
{
    top: 9px;
}
.hamburger span:nth-child(3)
{
    bottom: 0;
    
}
.menu
{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #333;
    transition: top 0.5s ease;
    z-index: 1;
    

}
.menu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%
}
.menu ul li
{
    padding: 10px;
    display: block;
    clear: both;
    width: 100%;

}
.menu ul li a
{
    color: #333;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}
#menu-toggle:checked ~ .menu
{
    top: 0;
}